<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>Menu
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag "thoughts_logo_orange.png", alt: "Thoughts on Time", class: "navbar-logo" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
        <li>
          <%= link_to 'Checkout' %>
        </li>
        <li class="visible-xs-block hidden-sm">
          <%= link_to 'Upcoming Events' %>
        </li>
        <li class="visible-xs-block hidden-sm">
          <%= link_to 'My Recipients', recipients_path %>
        </li>
        <li class="visible-xs-block hidden-sm">
          <%= link_to 'My Calendar' %>
        </li>
        <li class="visible-xs-block hidden-sm">
          <%= link_to 'My Notifications' %>
        </li>

        <li><a href="#" class="sign-in" data-url="<%= edit_user_registration_path %>" data-toggle="modal" data-target="#modal-window">Edit Profile</a></li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
        </li>
        <% else %>
        <li><a href="#" class="sign-in" data-url="<%= new_user_session_path %>" data-toggle="modal" data-target="#modal-window">Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
